.App {
  background-color: var(--color-400);
  min-height: 100vh;
  max-width: 100vw;
  padding: 4rem;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  gap: 3.4rem;
}

.heading{
  color: var(--color-0);
  font-weight: 700;
  font-size: 3.5rem;
  margin-bottom: 2.1rem;
}